$body-color: red;
$color-notification: green;

html {
  font-size: 16px;
}

.rootApp {
  padding: 20px;
}

.title {
  font-size: 38px;
  background-color: aliceblue;
  margin: 0;
}

.route {
  overflow: hidden;
  padding: 24px;
}
