$body-color: red;
$color-notification: green;


.example {
  margin-bottom: 40px;
  * {
    display: inline;
    margin: 8px;
  }
}

.title {
  font-size: 38px;
  background-color: aliceblue;
}

.overrideNotWorking {
  background-color: orange;
}
