$body-color: red;
$color-notification: green;

html {
  font-size: 10px;
}

.title {
  font-size: 38px;
  background-color: aliceblue;
  margin: 0;
}

.overrideNotWorking {
  background-color: orange;
}
