.header {
  background: linear-gradient(90deg, rgb(238, 39, 36), rgb(244, 166, 109));
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  .text {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
}

